<ul>
  <li>
    <%= link_to 'TicTacToe', controller: 'main', action: 'tictactoe' %>
  </li>
  <li>
    <%= link_to 'SimpleClock', controller: 'main', action: 'simpleclock' %>
  </li>
  <li>
    <%= link_to 'Profile', controller: 'main', action: 'profile' %>
  </li>
  <li>
    <%= link_to 'Forms', controller: 'main', action: 'forms' %>
  </li>
  <li>
    <%= link_to 'Temperature', controller: 'main', action: 'temperature' %>
  </li>
  <li>
    <%= link_to 'Products', controller: 'main', action: 'products' %>
  </li>
  <li>
    <%= link_to 'Login Form', controller: 'main', action: 'loginform' %>
  </li>
  <li>
    <%= link_to 'Date Time Picker', controller: 'main', action: 'datetime' %>
  </li>
  <li>
    <%= link_to 'TestEnv', controller: 'main', action: 'testenv' %>
  </li>
</ul>
